<section>
     <div class="spacing"></div>
<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" onclick="clearCart()" >Clear Cart</button>
               <div class="spacing"></div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Color</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="cartRow">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <p>
            Your purchase will be sent with cashback as the payment type, as it is the only one currently supported
            </p></div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a href="/checkout" class="btn btn-primary">Checkout</a>
          </div>
        </div>
      </div>
    </div>
</section>

