<section>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="btn-group">
              <a href="#" class="btn btn-default">Homem</a>
              <a href="#" class="btn btn-default">Mulher</a>
            </div>
          </div>
           <div class="col-md-12">
            <div class="btn-group">
              <a href="/catalog/shirts" class="btn btn-default">camisas</a>
              <a href="/catalog/pants" class="btn btn-default">calças</a>
              <a href="#" class="btn btn-default">casacos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          {{#each data}}
          <a class="cardA" href="/product/{{this.prodId}}">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{this.name}}</h5>
                  <p class="card-text">{{this.price}}</p>
                  {{#each this.color}}
                    <button class="btn colorBtn" style="background-color: {{this}}"></button>
                  {{/each}}
                  <a href="#" class="btn btn-primary addToCart">Add to Cart</a>
                </a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
</section>