<section>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="landingTitle">Pescada</h1>
            <h2 style="text-align:center;">{{description}}</h2>
            <img class="landingImage" src="/images/lauren-fleischmann-469994-unsplash.jpg" class="img-responsive">
            <div class="py-5" >
              <div class="container">
                <div class="row">
                  <div class="text-center mx-auto col-lg-8 col-10">
                    <h1 class="mb-3"><a href="/catalog" style="text-decoration: none;">Catalog</a></h1>
                    <div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
                      <div class="carousel-inner">
                        {{#each data}}
                          <a href="/product/{{this.prodId}}"><div class="carousel-item" ><p>{{this.name}}</p></div></a>
                        {{/each}}
                      </div>
                      <ol class="carousel-indicators">
                        {{#each data}}
                        <li class="changeItem" data-slide-to="{{@index}}"> </li>
                        {{/each}}
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <a href="# &lt;/li&gt; &lt;/ul&gt; &lt;/div&gt;
              &lt;/div&gt; &lt;/div&gt; &lt;div class="" section="" "=" ">
    <div class="section ">
        <div class="container ">
            <div class="row ">
            <div class="col-md-4 "></div>
            <div class="col-md-4 "></div>
            <div class="col-md-4 "></div>
            </div>
        </div>
        </div>
        <div class="section ">
        <div class="container ">
            <div class="row ">
            <div class="col-md-4 "></div>
            <div class="col-md-4 "></div>
            <div class="col-md-4 "></div>
            </div>  
        </div>
        </div>
</a>
</section>
