<section>
  <div class="section">
    <div class="container productContainer">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="https://static.pingendo.com/cover-moon.svg" class="img-responsive">
        </div>
        <div class="col-md-6">
          <h1>{{data.[0].name}}</h1>
          <h3>{{data.[0].price}}</h3>
          <div class="btn-group btn-group-lg">
            <button id="size" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button" > Size </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li class="dropdown-item" >S</li>
              <li class="dropdown-item" >M</li>
              <li class="dropdown-item" >L</li>
              <li class="dropdown-item" >XL</li>
            </ul>
          </div>
          <div>
            <div class="input-group qtyGroup">
              <button type="button" class="btn btn-danger btnMinus"  >
                <i class="fa fa-minus"></i>
              </button>
              <input class="qtyInput" type="number" value="1" min="1" max="{{data.[0].qty}}">
              <button type="button" class="btn btn-success btn-number btnPlus" >
                  <i  class="fa fa-plus"></i>
              </button>
            </div>
            <p style="margin: 5px;">Color</p>
          {{#each data.[0].color}}
          <button class="btn colorBtn" style="background-color: {{this}}"></button>
          {{/each}}
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container" style="padding-top: 10px">
      <div class="row inline">
        <div class="col-md-6">
          <a href="/catalog" class="btn btn-primary">Go back to catalog</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
</section>